
body{
  background-color: #706A62;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  margin:0, auto;
} 

td{
  margin-left: auto;
  margin-right: auto;
}
#td2{
  margin-left: 55%;
  margin-right: 45%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
/* .SlideRuleField {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10pt; font-weight:bold;
  color:black;
  border:2px solid black; padding:0px 0px 0px 3px;
}
.SlideRuleBar {
  background-image: url(srule_m.gif);
  background-repeat: repeat-x; background-position: center;
}
.SlideRuleButton {
  position:relative; width: 10px; height: 18px; z-index:3; right: 165px; top: 3px;
  cursor:pointer;cursor:hand;
} */
#scanButton{
  color: black;
  font-size: large;
  background-color: white;
  width: 150px;
  height: 30px;
  font-weight: bold;
  border:1px solid black;
  margin-bottom: 5%;
}
#button{
  color: black;
  font-size: large;
  background-color: white;
  width: 150px;
  height: 30px;
  font-weight: bold;
  border:1px solid black;
  margin-bottom: 5%;
}
#amount{
  width: 140px;
  height: 20px;
  border:2px solid black;
}

 /* #left{
padding-left: 13%;
padding-right: 17%;
}
#middle{
  padding-left: 15%;
  padding-right: 15%;
}
#right{
  padding-left: 15%;
  padding-right: 15%;
} */
