
body{
  background-color: #706A62;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  margin:0, auto;
} 
p{
  font-weight: bold;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
td{
  margin-left: auto;
  margin-right: auto;
}
#td2{
  margin-left: 55%;
  margin-right: 45%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
/* .SlideRuleField {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10pt; font-weight:bold;
  color:black;
  border:2px solid black; padding:0px 0px 0px 3px;
}
.SlideRuleBar {
  background-image: url(srule_m.gif);
  background-repeat: repeat-x; background-position: center;
}
.SlideRuleButton {
  position:relative; width: 10px; height: 18px; z-index:3; right: 165px; top: 3px;
  cursor:pointer;cursor:hand;
} */
#scanButton{
  color: black;
  font-size: large;
  background-color: white;
  width: 150px;
  height: 30px;
  font-weight: bold;
  border:1px solid black;
  margin-bottom: 5%;
}
#button{
  color: black;
  font-size: large;
  background-color: white;
  width: 150px;
  height: 30px;
  font-weight: bold;
  border:1px solid black;
  margin-bottom: 5%;
}
#amount{
  width: 140px;
  height: 20px;
  border:2px solid black;
}
.buttonstyler{
padding-top: 20%;
margin-top: 2.5%;
padding-bottom: 20%;
height: fit-content;
width: 50%;
float: left;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif;

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: black;
  padding: 4px;
  text-align: center;
  margin-top: 7%;
  color: black;
  text-shadow: none;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.grid-item {
  background-color: #BFD1F2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  align-content: center;
  
}


.item5{
  grid-row: 2/6;
  grid-column: 2/2;
  padding-top: 25%;
}
.item6{
  grid-row: 2/6;
  grid-column: 3/3;
  padding-top: 25%;
}


 /* #left{
padding-left: 13%;
padding-right: 17%;
}
#middle{
  padding-left: 15%;
  padding-right: 15%;
}
#right{
  padding-left: 15%;
  padding-right: 15%;
} */
